:root {
  --ifm-color-primary: #000;
  --ifm-color-primary-dark: #000;
  --ifm-color-primary-darker: #000;
  --ifm-color-primary-darkest: #000;
  --ifm-color-primary-light: #000;
  --ifm-color-primary-lighter: #000;
  --ifm-color-primary-lightest: #000;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-invert: #fff;
}

[data-theme="dark"] {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #000;
  --ifm-color-primary-darker: #000;
  --ifm-color-primary-darkest: #000;
  --ifm-color-primary-light: #000;
  --ifm-color-primary-lighter: #000;
  --ifm-color-primary-lightest: #000;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-invert: #000;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("/fonts/GoogleSansCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
h2,
h3 {
  font-family: "Google Sans Code", monospace;
}

html[data-theme="dark"] {
  background-color: #111;
}

html {
  background-color: #fefefe;
}

p > a {
  text-decoration: underline;
}

.menu__link {
  color: var(--ifm-color-primary);
}

article {
  padding: 32px;
}

table {
  font-size: 13px;
}

table tr:nth-child(2n) {
  background-color: transparent;
}

nav[aria-label="Docs sidebar"] {
  border-right: 0px;
}

nav[aria-label="Main"] {
  border-bottom: 0px;
}

.markdown a {
  text-decoration: underline;
}
